<div class=" container-fluid container mt-5">
    <div class="row">
        <div class="card titulo-configuracion col-12">
            <div>
                <h5 style="display: inline;">Consultas Reservas</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <h5>Parámetros de consulta</h5>
    </div>
    <form class="k-form" [formGroup]="editForm">
        <div class="row">
            <div class="col-12 col-lg-3">
                <kendo-formfield>
                    <kendo-label text="Fecha Reserva Inicio"></kendo-label>
                    <kendo-datepicker [format]="'dd/MM/yyyy'" formControlName="fechaInicio"></kendo-datepicker>

                    <kendo-formerror>Seleccione Fecha Inicio</kendo-formerror>
                </kendo-formfield>

            </div>
            <div class="col-12 col-lg-3">
                <kendo-formfield>
                    <kendo-label text="Fecha Reserva Fin"></kendo-label>
                    <kendo-datepicker [format]="'dd/MM/yyyy'" formControlName="fechaFin"></kendo-datepicker>

                    <kendo-formerror>Seleccione Fecha Fin</kendo-formerror>
                </kendo-formfield>

            </div>
            <div class="col-12 col-lg-3">
                <kendo-formfield>
                    <kendo-label text="Usuario"></kendo-label>
                    <kendo-combobox [data]="usuariosVentas" [valuePrimitive]="true" [textField]="'nombreCompleto'"
                        [valueField]="'nombreUsuario'" formControlName="usuario"></kendo-combobox>

                    <kendo-formerror>Seleccione un usuario</kendo-formerror>
                </kendo-formfield>

            </div>
            <div class="col-12 col-lg-3">
                <kendo-formfield>
                    <kendo-label text="Punto de Venta"></kendo-label>
                    <kendo-combobox [data]="puntosVenta" [valuePrimitive]="true" [textField]="'nombre'"
                        [valueField]="'id'" formControlName="puntoVenta"></kendo-combobox>

                    <kendo-formerror>Seleccione Punto de Venta</kendo-formerror>
                </kendo-formfield>

            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 col-lg-12" style="text-align: center;">
            <button style="margin-top: 10px;" kendoButton [icon]="'close-outline'" [look]="'outline'" [primary]="true"
                (click)="limpiar()">LIMPIAR CONSULTA
            </button>

            <button style="margin-top: 10px;margin-left: 10px;" kendoButton [primary]="true" [icon]="'search'"
                (click)="consultar()" [disabled]="!editForm.valid">CONSULTAR
            </button>
        </div>
    </div>

    <div class="row">
        <h5>Resultados</h5>
    </div>
</div>
<div class="col-12 col-lg-12">


    <kendo-grid [data]="gridView" style="height: 600px;" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
        (pageChange)="pageChange($event)">
        <kendo-grid-column field="fechaEmision" title="Fecha" width="100"></kendo-grid-column>
        <kendo-grid-column field="numero" title="Reserva" width="150"></kendo-grid-column>
        <kendo-grid-column field="numeroCotizacion" title="Cotización" width="150" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="codigoCliente" title="Cód Cliente" width="160" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="nombreCliente" title="Nombre Cliente">
        </kendo-grid-column>
        <kendo-grid-column field="puntoVenta" title="Punto Venta" width="160" class="text-center">
        </kendo-grid-column>
        <kendo-grid-column field="estado" title="Estado" width="150" class="text-center"></kendo-grid-column>
        <kendo-grid-column field="usuario" title="Usuario" width="150"></kendo-grid-column>
        <ng-template kendoGridNoRecordsTemplate>
            No se han encontrado resultados.
        </ng-template>

        <div *kendoGridDetailTemplate="let dataItem">
            <app-consulta-detalle-reservas [item]="dataItem"></app-consulta-detalle-reservas>
        </div>
    </kendo-grid>
</div>
<br />
