.header {
    color: rgb(160, 160, 160);
    font-size: 14px;
    padding: 8px 32px;
}

.articulo-header{
    padding: 10px 10px;
}

.articulo-item{
    padding-left: 15px;
}

.linea-cantidades{
    margin-bottom: 7px;
    border-bottom-width: 1px;
    border-bottom-color: brown;
    border-bottom-style: solid;
}
