@import '../../../../../src/variables.scss';

.k-listview {
    font-family: sans-serif;
}
.header {
    color: rgb(160, 160, 160);
    font-size: 14px;
    padding: 8px 32px;
}
.detail{
    padding: 8px 28px;
}

.footer-button {
    padding-top: 10px;
    text-align: right;
}

.buttons {
    display: flex;
    float: right;
    margin-left: 5px;
}

.articulo-item{
    padding-left: 15px;
}

.articulo-header{
    padding: 10px 10px;
}

.label-tabla-bodegas{
    padding-top: 10px;
    color: $accent ;
}

.bodega-principal{
    color: $accent ;
}
