.wraper-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}

.buscar-texbox{
    width: 70%;
    margin-left: 5px;
}

.buttons-actions{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.element-wraper{
    margin-right: 3px;
}
