<div class="col-12 col-lg-12 mt-5">
    <kendo-card [width]="'100%'">
        <kendo-card-header class="k-hbox">
            <h4 kendoCardTitle>Recepción Órdenes de Compra</h4>
        </kendo-card-header>
    </kendo-card>

    <kendo-grid [data]="gridDataOrdenesCompra" [pageSize]="state.take" [skip]="state.skip" [pageable]="true"
                [filter]="state.filter" [filterable]="true"
                (dataStateChange)="dataStateChange($event)">
        <kendo-grid-messages pagerPage="Página" pagerOf="de" pagerItems="ítems" pagerItemsPerPage="ítems por página"
            noRecords="No existen registros.">
        </kendo-grid-messages>
        <kendo-grid-column field="numero" title="Orden de Compra" width="100"></kendo-grid-column>
        <kendo-grid-column field="nombreVendedor" title="Vendedor" width="200"></kendo-grid-column>
        <kendo-grid-column field="nombreProveedor" title="Proveedor" width="200"></kendo-grid-column>
        <kendo-grid-column field="numeroCotizacion" title="Cotización" width="120"></kendo-grid-column>
        <kendo-grid-column field="fechaEmision" title="Fecha emisión" width="120"></kendo-grid-column>
        <kendo-grid-column field="total" title="Total Compra" format="{0:c}" width="90"></kendo-grid-column>
        <kendo-grid-column field="bodegaEntrega" title="Bodega Entrega" width="100"></kendo-grid-column>
        <kendo-grid-column field="estado" title="Estado" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <app-state-badge [estado]="dataItem.estado"></app-state-badge>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [style]="{'text-align':'center'}" width="50">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button kendoButton [primary]="true" [look]="'outline'" icon="edit"
                (click)="cargarOrdenCompraParaRecepcion(dataItem)"></button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>

    <kendo-dialog title="Recepciones detalle" *ngIf="abrirDetalle" (close)="cerrarDetalle()" [minWidth]="400" [width]="'70%'">
        <app-recepciones-detalle-dialogo [recepcionesCompra]="recepcionesCompra"></app-recepciones-detalle-dialogo>
    </kendo-dialog>
</div>
