.panel-info{
    margin-top: 10px;
}

.informacion{
    padding: 10px 10px;
}

.informacion-panel{
    padding: 5px 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.infoAdd{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.infoAdd-etiqueta{
    padding-left: 5px;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 15px;
}

.k-textbox{
    text-transform: uppercase !important;
}

.correo-input{
    text-transform: lowercase !important;
}
