.u-info {
    padding: 10px 10px 10px 10px;
}

.row {
    padding-top: 10px;
}

.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}
