
.footer-login{
    text-align: center;
}

.fondo-login{
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #E66A15;
}

.center-login{
    margin:0px auto;
}

.label-custom{
    margin-bottom: 0px;
}
