.footer-detalle {
    padding: 0px 0px;
    font-size: 11px;
    text-align: right;
}

.footer-detalle-valor {
    padding: 0px 0px;
    font-size: 11px;
    text-align: right;
}

.header{
    margin-top: 10px;
}

.address{
    margin-top: 10px;
}

.detail{
    margin-top: 10px;
}

.whole-cell {
    display: block;
    padding: 8px 12px; /* depends on theme */
}
