@import '../../../../../variables.scss';

.wraper-col {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

.input-search{
    padding-right: 5px;
    width: 70%;
    margin-left: 5px;
}

.header {
    color: white;
    font-size: 14px;
    padding: 8px 15px;
    background-color: $accent;
}
