.buttons {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}

.etiqueta-total{
    padding-right: 0px;
}

.valor-total{
    padding-left: 30px;
    text-align: right;
}

.pvta-facturar{
    padding-left: 3px;
    font-weight: bold;
}
