.k-listview {
    font-family: sans-serif;
    height: auto;
    width: 100%;
}
.configuracion {
    padding: 4px;
    width: 100%;
}
.configuracion-name {
    margin: 0 20px;
}

.seccionPermisos{
    margin-top: 20px;
}

.seccionPvtaAsignados{
    margin-top: 15px;
}
